body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.grid {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.square {
    border-style : solid;
    border-width: 1px;
    position: relative;
}

.square:nth-child(1), .square:nth-child(2), .square:nth-child(3){
    border-top: none;
}

.square:nth-child(3), .square:nth-child(6), .square:nth-child(9){
    border-right: none;
}

.square:nth-child(7), .square:nth-child(8), .square:nth-child(9){
    border-bottom: none;
}

.square:nth-child(1), .square:nth-child(4), .square:nth-child(7){
    border-left: none;
}

.square.x::before, .square.x::after {
    position: absolute;
    content: "";
    background-color: rgb(50, 77, 197);
    width: 2px;
    height: 100%;
    left: 50%;
}

.square.x::before {
    transform: rotate(45deg);
}

.square.x::after {
    transform: rotate(-45deg);
}

.square.o::before, .square.o::after {
    position: absolute;
    content: "";
    border-color: rgb(192, 76, 47);
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
}

