body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    color:rgba(184, 184, 184, 0.747);
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

#winDiv {
    display: none;
    position: absolute;
    top: 300px;
    z-index: 1;
    background-color: rgba(198, 198, 202, 0.76);
    width: 400px;
    flex-direction: column;
    align-items: center;
    border-radius: 1%;
    color: white;
}



button {
    margin-bottom: 20px;
    width: 120px;
    height: 30px;
    background-color: rgb(119, 119, 119);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    transition: transform 330ms ease-in-out;
    transform: scale(1.1);
}

.grid {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.square {
    border-style : solid;
    border-width: 1px;
    border-color:rgba(184, 194, 201, 0.747);
    position: relative;
    cursor: pointer;
}

.square:nth-child(1), .square:nth-child(2), .square:nth-child(3){
    border-top: none;
}

.square:nth-child(3), .square:nth-child(6), .square:nth-child(9){
    border-right: none;
}

.square:nth-child(7), .square:nth-child(8), .square:nth-child(9){
    border-bottom: none;
}

.square:nth-child(1), .square:nth-child(4), .square:nth-child(7){
    border-left: none;
}

.square.x, .square.o {
    cursor: not-allowed;
}

.square.x::before, .square.x::after {
    position: absolute;
    content: "";
    background-color: rgb(50, 77, 197);
    width: 6px;
    height: 100%;
    left: 50%;
}

.square.x::before {
    transform: rotate(45deg);
}

.square.x::after {
    transform: rotate(-45deg);
}

.square.o::before, .square.o::after {
    position: absolute;
    content: "";
    border-color: rgb(192, 76, 47);
    border-style: solid;
    border-radius: 50%;
    border-width: 6px;
    height: 70%;
    width: 70%;
    transform: translate(15%, 15%);
}


.square.turn-x:hover::before, .square.turn-x:hover::after {
    position: absolute;
    content: "";
    background-color: rgba(50, 77, 197, 0.301);
    width: 6px;
    height: 100%;
    left: 50%;
}

.square.turn-x:hover::before {
    transform: rotate(45deg);
}

.square.turn-x:hover::after {
    transform: rotate(-45deg);
}

.square.turn-o:hover::before, .square.turn-o:hover::after {
    position: absolute;
    content: "";
    border-color: rgba(192, 76, 47, 0.103);
    border-style: solid;
    border-radius: 50%;
    border-width: 6px;
    height: 70%;
    width: 70%;
    transform: translate(15%, 15%);
}

.xWinLight {
    background-color: rgba(119, 176, 214, 0.397);
}

.xWinDark {
    color: rgb(50, 77, 197);
}

.xWinBorderDark {
    border-color: rgb(50, 77, 197);
}
.oWinBorderDark {
    border-color: rgb(192, 76, 47);
}

.oWinLight {
    background-color: rgba(211, 163, 100, 0.397);
}

.oWinDark {
    color: rgb(192, 76, 47);
}

.winSquare {
    cursor: not-allowed;
}
